body {
    background-color: #222222;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.title {
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size:  xx-large;
    color: white;
    width: 160%;
    text-align: center;
    font-weight: normal;
    text-shadow: 2px 2px #4343ce;
    width: 100%;
}

.coming-soon{
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size:  xx-large;
    color: white;
    width: 200%;
    text-align: center;
    font-weight: normal;
    width: 100%;
}

.socials{
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size:  xx-large;
    color: white;
    width: 200%;
    text-align: center;
    font-weight: normal;
    width: 100%;
}

.text1 {
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size:  xx-large;
    color: #fff;
    width: 160%;
    text-align: center;
    font-weight: normal;
    text-shadow: 2px 2px #1515b9;
}

.text2 {
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size:  medium;
    color: white;
    width: 230%;
    text-align: center;
    font-weight: normal;
    text-shadow: 2px 2px #1515b9;
}

.animated-text1 {
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size:  350%;
    color: white;
    width: 170%;
    text-align: center;
    font-weight: normal;
    text-shadow: 2px 2px #1515b9;
}

.menu{
    width: 400px;
    float: left;
    height: -120px;
    font-weight: bold;
    
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: -160px;
    font-size: 24px;
        
}

ul li a{
    text-decoration: none;
    color: #fff;
    position: relative;
    padding: 16px 0 5px;
}

ul li a:hover{
    color: #7676f0;
    transition: .9s;
}

ul li a:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0) ;
    -webkit-transform: translateX(-50%) scaleX(0) ;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.9);
    transition: transform 250ms;
    -webkit-transition: transform 250ms;
}

ul li a:hover:after{
    transform: translateX(-50%) scaleX(1);
    -webkit-transform: translateX(-50%) scaleX(1);
}

.hero-image{
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    object-position: 75% 50%;
    margin-bottom: 5rem;
    border-bottom-left-radius: 20% 50px;
    border-bottom-right-radius: 20% 50px;
    border-top-left-radius: 20% 50px;
    border-top-right-radius: 20% 50px;
    border-radius: 10%;
    border: 4px solid #1515b9;
    box-shadow: 15px 15px 15px rgb(17, 16, 16);
    -webkit-box-shadow: 15px 15px 15px rgb(17, 16, 16);
    -moz-box-shadow: 15px 15px 15px rgb(17, 16, 16);
    -khtml-box-shadow: 15px 15px 15px rgb(17, 16, 16);
}

.hero{
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5rem;
}

.hero-text{
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 2rem;
    text-shadow: 2px 2px #1515b9;
}


span{
    -webkit-user-select: none;       
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff724;
    text-shadow: 2px 2px #d66f1b00;
    font-weight: bold;
}

.eight-bit__social {
  background: #222a2c;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 33.33%;
  text-align: center;
}

.eight-bit__social .btn {
  display: inline-block;
  background: #fff;
  width: 90px;
  height: 90px;
  position: relative;
  border-radius: 50%;
  z-index: 1;
}

.eight-bit__social .btn.discord .fab {
  color: #738ADB;
}

.eight-bit__social .btn.discord span,
.eight-bit__social .btn.discord span::before,
.eight-bit__social .btn.discord span::after {
  background: #738ADB;
}

.eight-bit__social .btn.twitter .fab {
  color: #3cf;
}

.eight-bit__social .btn.twitter span,
.eight-bit__social .btn.twitter span::before,
.eight-bit__social .btn.twitter span::after {
  background: #3cf;
}

.eight-bit__social .btn.github .fab {
  color: #171515;
}

.eight-bit__social .btn.github span,
.eight-bit__social .btn.github span::before,
.eight-bit__social .btn.github span::after {
  background: #171515;
}

.eight-bit__social .btn.spotify .fab {
  color: #1DB954;
}

.eight-bit__social .btn.spotify span,
.eight-bit__social .btn.spotify span::before,
.eight-bit__social .btn.spotify span::after {
  background: #1DB954;
}

.eight-bit__social .btn.steam .fab {
  color: #2a475e;
}

.eight-bit__social .btn.steam span,
.eight-bit__social .btn.steam span::before,
.eight-bit__social .btn.steam span::after {
  background: #2a475e;
}

.eight-bit__social .btn .fab {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  line-height: 90px;
  font-size: 2.5rem;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.eight-bit__social .btn .outside span {
  position: absolute;
  display: block;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.eight-bit__social .btn .outside span::before, .eight-bit__social .btn .outside span::after {
  content: '';
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
}

.eight-bit__social .btn .outside span:nth-child(1),
.eight-bit__social .btn .outside span:nth-child(3) {
  left: 25px;
  width: 40px;
  height: 8px;
}

.eight-bit__social .btn .outside span:nth-child(1)::before, .eight-bit__social .btn .outside span:nth-child(1)::after,
.eight-bit__social .btn .outside span:nth-child(3)::before,
.eight-bit__social .btn .outside span:nth-child(3)::after {
  width: 16px;
}

.eight-bit__social .btn .outside span:nth-child(2),
.eight-bit__social .btn .outside span:nth-child(4) {
  top: 25px;
  width: 8px;
  height: 40px;
}

.eight-bit__social .btn .outside span:nth-child(2)::before, .eight-bit__social .btn .outside span:nth-child(2)::after,
.eight-bit__social .btn .outside span:nth-child(4)::before,
.eight-bit__social .btn .outside span:nth-child(4)::after {
  height: 16px;
}

.eight-bit__social .btn .outside span:nth-child(2)::before,
.eight-bit__social .btn .outside span:nth-child(4)::before,
.eight-bit__social .btn .outside span:nth-child(3)::before,
.eight-bit__social .btn .outside span:nth-child(3)::after {
  top: -8px;
}

.eight-bit__social .btn .outside span:nth-child(1)::after,
.eight-bit__social .btn .outside span:nth-child(3)::after,
.eight-bit__social .btn .outside span:nth-child(4)::before,
.eight-bit__social .btn .outside span:nth-child(4)::after {
  right: -8px;
}

.eight-bit__social .btn .outside span:nth-child(2)::after,
.eight-bit__social .btn .outside span:nth-child(4)::after,
.eight-bit__social .btn .outside span:nth-child(1)::before,
.eight-bit__social .btn .outside span:nth-child(1)::after {
  bottom: -8px;
}

.eight-bit__social .btn .outside span:nth-child(1)::before,
.eight-bit__social .btn .outside span:nth-child(3)::before,
.eight-bit__social .btn .outside span:nth-child(2)::before,
.eight-bit__social .btn .outside span:nth-child(2)::after {
  left: -8px;
}

.eight-bit__social .btn .outside span:nth-child(1) {
  top: -4px;
}

.eight-bit__social .btn .outside span:nth-child(2) {
  right: -4px;
}

.eight-bit__social .btn .outside span:nth-child(3) {
  bottom: -4px;
}

.eight-bit__social .btn .outside span:nth-child(4) {
  left: -4px;
}

.eight-bit__social .btn .inside {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  border-radius: 50%;
}

.eight-bit__social .btn .inside span {
  position: relative;
  display: block;
  left: -15px;
  height: 20px;
  width: 0;
}

.eight-bit__social .btn .inside span::after {
  content: '';
  position: absolute;
  display: block;
  right: -10px;
  width: 10px;
  height: 10px;
  background: #fff;
}

.eight-bit__social .btn .inside span:nth-child(odd)::after {
  background: rgba(0, 0, 0, 0.4);
}

.eight-bit__social .btn .inside span:first-child {
  left: -75px;
  -webkit-transition: all 0.3s steps(8);
  transition: all 0.3s steps(8);
}

.eight-bit__social .btn .inside span:nth-child(2) {
  left: -45px;
  -webkit-transition: all 0.325s steps(8);
  transition: all 0.325s steps(8);
}

.eight-bit__social .btn .inside span:nth-child(3) {
  left: -55px;
  -webkit-transition: all 0.35s steps(8);
  transition: all 0.35s steps(8);
}

.eight-bit__social .btn .inside span:nth-child(4) {
  -webkit-transition: all 0.4s steps(8);
  transition: all 0.4s steps(8);
}

.eight-bit__social .btn .inside span:nth-child(5) {
  left: -25px;
  -webkit-transition: all 0.375s steps(8);
  transition: all 0.375s steps(8);
}

.eight-bit__social .btn:hover .fab {
  color: #fff;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.eight-bit__social .btn:hover .outside span {
  opacity: 1;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.eight-bit__social .btn:hover .outside span:nth-child(1),
.eight-bit__social .btn:hover .outside span:nth-child(3) {
  -webkit-transition: -webkit-transform 0.3s 0.1s steps(8);
  transition: -webkit-transform 0.3s 0.1s steps(8);
  transition: transform 0.3s 0.1s steps(8);
  transition: transform 0.3s 0.1s steps(8), -webkit-transform 0.3s 0.1s steps(8);
}

.eight-bit__social .btn:hover .outside span:nth-child(2) {
  -webkit-transition: -webkit-transform 0.3s 0.2s steps(8);
  transition: -webkit-transform 0.3s 0.2s steps(8);
  transition: transform 0.3s 0.2s steps(8);
  transition: transform 0.3s 0.2s steps(8), -webkit-transform 0.3s 0.2s steps(8);
}

.eight-bit__social .btn:hover .outside span:nth-child(4) {
  -webkit-transition: -webkit-transform 0.3s steps(8);
  transition: -webkit-transform 0.3s steps(8);
  transition: transform 0.3s steps(8);
  transition: transform 0.3s steps(8), -webkit-transform 0.3s steps(8);
}

.eight-bit__social .btn:hover .inside span:first-child {
  width: calc(100% + 76px);
}

.eight-bit__social .btn:hover .inside span:nth-child(2) {
  width: calc(100% + 46px);
  -webkit-transition: all 0.375s steps(8);
  transition: all 0.375s steps(8);
}

.eight-bit__social .btn:hover .inside span:nth-child(3) {
  width: calc(100% + 56px);
  -webkit-transition: all 0.35s steps(8);
  transition: all 0.35s steps(8);
}

.eight-bit__social .btn:hover .inside span:nth-child(4) {
  width: calc(100% + 16px);
  -webkit-transition: all 0.3s steps(8);
  transition: all 0.3s steps(8);
}

.eight-bit__social .btn:hover .inside span:nth-child(5) {
  width: calc(100% + 26px);
  -webkit-transition: all 0.325s steps(8);
  transition: all 0.325s steps(8);
}

/* NON-SELECTABLE TEXT*/
/* -webkit-user-select: none;  */
/* -moz-user-select: none; */
/* -ms-user-select: none; */
/* user-select: none; */
